*{
    margin: 0;
    padding: 0;
    box-sizing: border-boxc;
}

/*HEADER*/
#ms_header{
    height: 60px;
}
#ms_logosmall{
    max-width: 60px;
}
.ms_bellcolor{
    color: rgb(254, 138, 0);
}
/*MAIN*/
#ms_maincont{
    height: calc(100vh - 60px);
    display: flex;
    flex-wrap: nowrap
}


/*sidebar*/
#ms_sidebar{
    width: 60px;
    height: calc(100vh - 60px);
    background-color: rgb(4, 30, 52);
    background-image: url(../img/sidebar-bg.png);
}
#ms_bottomsidebar{
    height: 40px;

}
.ms_backbad{
    background-color: rgb(21, 90, 185);
}



/*main content*/
#ms_maincontent{
    width: calc(100vw - 60px) ;
    height: 100%;

}
#ms_mainheader{
    background-color: rgb(27, 114, 232);
    width: 100%;
}


/*offcanvas*/
.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
    --bs-offcanvas-zindex: 1045;
    --bs-offcanvas-width: 700px;
    --bs-offcanvas-height: 30vh;
    --bs-offcanvas-padding-x: 1rem;
    --bs-offcanvas-padding-y: 1rem;
    --bs-offcanvas-color: var(--bs-body-color);
    --bs-offcanvas-bg: var(--bs-body-bg);
    --bs-offcanvas-border-width: var(--bs-border-width);
    --bs-offcanvas-border-color: var(--bs-border-color-translucent);
    --bs-offcanvas-box-shadow: 0 0.125rem 0.25rem rgba(var(--bs-body-color-rgb), 0.075);
    --bs-offcanvas-transition: transform 0.3s ease-in-out;
    --bs-offcanvas-title-line-height: 1.5;
  }



/*MEDIA QUERRY*/
@media screen and (min-width: 992px) {
    #ms_sidebar{
        width: 200px;
        height: calc(100vh - 60px); 
    }
    #ms_maincontent{
        width: calc(100vw - 200px) ;
        height: 100%;
    }
    
} 
/*HOVER*/
#ms_iconhover:hover{
   background-color: grey;
}
#ms_bottomsidebar:hover{
    background-color: grey;
}